[submodule "resources/scripts/pywal16_scripts"]
	path = resources/scripts/pywal16_scripts
	url = https://github.com/aKqir24/pywal16_scripts.git
[submodule ".config/mpv"]
	path = .config/mpv
	url = https://github.com/aKqir24/pywal-mpv-modernx.git
[submodule "resources/global.config/vscodium"]
	path = resources/global.config/vscodium
	url = https://github.com/aKqir24/vscodium-config.git
[submodule ".config/rofi"]
	path = .config/rofi
	url = https://github.com/aKqir24/rofi-setup.git
