picom
i3wm
pipewire
pipewire-jack
pipewire-pulse
wireplumber
rofi
dunst
xinit
python3-pip
sudo
alacritty
viewnior
kdialog
yq
imagemagick
xsettingsd
nwg-look
git
stow
btop
iwd
startship
systemd-resolved
