*{
	/* Colorscheme */
	background-alt:					#6c7084;
	background:						#1f2643;
	foreground:						#c7c8d0;
	selected:						#BEA7B1;
	active:							#BEA7B1;
	urgent:							#ECA3B1;
	alert:							#6DD699;
	disabled:						#c7c8d0;
}

