*{
	/* Colorscheme */
	background-alt:					#5d7165;
	background:						#0d2015;
	foreground:						#c2c7c4;
	selected:						#4c8456;
	active:							#4c8456;
	urgent:							#6b7e53;
	alert:							#4e774e;
	disabled:						#909b94;
}

