*{
	/* Colorscheme */
	background-alt:					#74635e;
	background:						#23140f;
	foreground:						#c8c4c3;
	selected:						#778968;
	active:							#778968;
	urgent:							#E18C1F;
	alert:							#946A41;
	disabled:						#9c9492;
}

