.clk-i {
  color: $eww-tertiary;
  font-size: 18px;
  margin: 0 2px 0 4px;
}

.clk-t {
  color: $eww-on-surface;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 2px 0px 6px;
}

.clk-s {
  color: $eww-outline;
  font-size: 16px;
  margin: 0 4px;
}

.clk-d {
  color: $eww-on-surface-variant;
  font-size: 14px;
  margin: 2px 8px 0 0;
}
